/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.bean-content {
  position: relative;
  overflow: hidden;
  height: 43vw;
  background: url(./img/25th_summer_bean_bg.jpg);
  background-size: cover;
  background-position: center center;
}

.bean-img-box {
  position: absolute;
  width: 29%;
  left: 20%;
  top: 50%;
  transform: translateY(-50%);
}

.bean-img-box > img {
  width: 100%;
}

.bean-txt {
  position: absolute;
  right: 9.5%;
  width: 40%;
  top: 20%;
}

.bean-txt > img {
  width: 100%;
}

.bean-btn {
  margin-top: 34px;
  width: 125px;
  height: 38px;
}

.bean-btn > button {
  color: #282119;
  border: 2px solid #282119;
  width: 100%;
  height: 100%;
  line-height: 34px;
  text-align: center;
  border-radius: 5px;
  background: transparent;
}

.bean-btn > button:hover {
  background-color: black;
  color: white;
  text-decoration: underline;
  transform: translate(1.5s);
}

.coffee-content {
  position: relative;
  height: 400px;
  overflow: hidden;
  background: url(/starbucks/img/240521_pc_reserve_bg_1.jpg) no-repeat center top;
  background-size: cover;
}

.coffee-img-box {
  position: absolute;
  width: 200px;
  top: 50%;
  transform: translateY(-50%);
  right: 10%;
}

.coffee-img-box > img {
  width: 100%;
}

.coffee-txt-img {
  position: absolute;
  width: 400px;
  top: 50%;
  left: 20%;
  transform: translateY(-50%);
}

.coffee-txt-img > img {
  width: 100%;
}

.coffee-btn {
  position: absolute;
  margin-top: 34px;
  width: 125px;
  height: 38px;
  left: 30%;
  bottom: 15%;
}

.coffee-btn > button {
  color: #B87643;
  border: 2px solid #B87643;
  width: 100%;
  height: 100%;
  line-height: 34px;
  text-align: center;
  border-radius: 5px;
  background: transparent;
}

.coffee-btn > button:hover {
  color: white;
  background-color: #B87643;
  text-decoration: underline;
}

.pick-content {
  position: relative;
  background: url(/starbucks/img/2024_august_pick_bg.jpg) center center fixed no-repeat #45434c;
  background-size: auto 87%;
  height: 800px;
  background-position: bottom;
}

.pick-img-box {
  position: absolute;
  top: 90px;
  right: 50px;
  width: 48.5vw;
  height: 30.8vw;
  background-image: url(/starbucks/img/2024_august_pick_img.png);
  background-size: 100% !important;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 7;
}

.pick-txt-img {
  background: url(/starbucks/img/fav_prod_txt01.png) no-repeat;
  left: 200px;
  top: 170px;
  height: 204px;
  position: absolute;
  overflow: hidden;
  width: 258px;
  text-indent: -20000px;
}

.pick-txt {
  background: url(/starbucks/img/fav_prod_txt02.png) no-repeat;
  left: 92px;
  top: 420px;
  height: 156px;
  position: absolute;
  overflow: hidden;
  width: 362px;

}

.pick-button {
  top: 600px;
  width: 125px;
  height: 38px;
  border: 2px solid #fff;
  border-radius: 3px;
  left: 328px;
  position: absolute;
}

.pick-button > button {
  font-size: 15px;
  border: 2px solid #fff;
  color: #fff;
  border-radius: 5px;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  text-align: center;
  line-height: 34px;
  background: transparent;
}

.pick-button > button:hover {
  background-color: #fff;
  color: black;
  text-decoration: underline;
}